body {
    text-align: center;
    background-color: grey;
}

.loginDiv {
    width: 400px;
    height: 100px;
    border-radius: 20px;
    background-color: lightgray;
    margin: 0 auto;
}
.texFrame{
    border-radius: 5px;
    margin-top: 15px;
}
.buttonStyle {
    background-color: lightgreen;
    padding: 5px 8px;
    text-align: center;
    border-radius: 15px;
    border: none;
}
.buttonStyle:active{
    background-color: coral;
    padding: 5px 8px;
    text-align: center;
    border-radius: 15px;
    border: none;
}
.buttonStyle:active:after{
    background-color: lightgreen;
    padding: 5px 8px;
    text-align: center;
    border-radius: 15px;
    border: none;
}
.titleFont{
    font-size: 3em;
}